<div class="modal fade" id="destino{{ x }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title">Cambiar estado de Reserva</h4>
            </div>
            <div class="modal-body">
                <p>Esta seguro que desea cambiar el estado de la Reserva? ,
                    Se le enviar&aacute; un e-mail a: </p>
                <div id="correo_dinamico{{ x }}">
                    {% block correo %}
                    {% endblock %}
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>