{% extends 'simple.html.twig' %}
{% block body %}
    <section id="aa-error">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-error-area">
                        <h2>404</h2>
                        <p><span class="fa fa-warning"></span>Oops! The Page you requested was not found!</p>
                        <a href="{{ path('homepage') }}">Back Home</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}