{% block dinamico %}
    <section id="aa-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="aa-about-us-area">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="aa-about-us-right text-center">
                                    <div class="aa-title">
                                        <h2>{{ 'notfound.message' | trans({}, 'base') }}</h2>
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}